body {
  background-color: #222831;
}

.colorCoral {
  color: #FF5757;
}
.colorCoralUnderline {
  border-bottom: solid 2px #FF5757;
  display: inline-block;
}

.darkgradient {
  background-color: #293848;
}
.lightbackground {
  background-color: #858F98;
}